.galery-container {
  margin: 7.5rem 0;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  padding: 2.5rem 0;
}

.galery-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 21.875rem;
}

.galery-item h3 {
  font-size: 1.5625rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 0 .3vw #fff;
  white-space: nowrap;
}

.galery-item h3, .galery-item span {
  width: 90%;
} 

.galery-img {
  border-radius: 1.25rem;
  height: 12.5rem;
  margin: .625rem 0;
  overflow: hidden;
  position: relative;
}

.galery-img img {
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.galery-icon a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 1025px) {
  .galery-icon {
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: #28285987;
    bottom: 0;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 500ms ease; 
  }
  
  .galery-icon a {
    font-size: 45px;
    transition: text-shadow 200ms ease; 
  }
  
  .galery-icon:hover {
    opacity: 1;
  }

  .galery-icon a:hover {
    text-shadow: 0 0 .4vw #ffa300,  0 0 .6vw #9a27f7; 
  }

}

@media only screen and (max-width: 1024px) {

  .galery {
    gap: 3.4375rem;
  }

  .galery-icon {
    backdrop-filter: blur(10px);
    background-color: #28285987;
    border-bottom-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    margin: auto;
    padding: .75rem 0;
    position: absolute;
    right: 0px;
    top: 0;
    width: 3.125rem;
  }
  
  
  .galery-icon a {
    font-size: 1.875rem;
  }

}