.contact {
  align-items: center;
  border: 10px double #fff;
  box-shadow: 0 0 .3vw #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80vh;
  justify-content: center;
  margin-bottom: 5rem;
  position: relative;
}

.contact h2 {
  padding: 0;
}

.contact a {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 .5vw #fff;
  color: var(--bg-page);
  font-size: 1.125rem;
  padding: 0.2rem 1rem;
  transition: box-shadow var(--transition-speed) ease;
}

.contact a:hover {
  box-shadow: .14vw .14vw .1vw  #ffa300, 0 0 .9vw #9a27f7;
}

.contact img {
  bottom: .625rem;
  left: 20%;
  position: absolute;
  width: 15.625rem;
}

@media only screen and (max-width: 1024px) {
  .contact img  {
    width: 13.75rem;
  }
}