.contact {
  margin-bottom: 80px;
  height: 80vh;
  border: 10px double #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 .3vw #fff;
  position: relative;
}

.contact h2 {
  padding: 0;
}

.contact a {
  background-color: #fff;
  box-shadow: 0 0 .5vw #fff;
  border-radius: 3px;
  color: var(--bg-page);
  padding: 0.2rem 1rem;
  font-size: 1.125rem;
  transition: box-shadow var(--transition-speed) ease;
}

.contact a:hover {
  box-shadow: .14vw .14vw .1vw  #ffa300, 0 0 .9vw #9a27f7;
}

.contact img {
  position: absolute;
  bottom: 10px;
  left: 20%;
  width: 250px;
}