.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutMe article {
  width: 50%;
}

.aboutMe-text {
  position: relative;
  /* border: 2px solid #fff; */
}

.aboutMe-text p {
  width: 70%;
  margin: 1.875rem auto;
  backdrop-filter: blur(8px);
  background-color: var(--nav-bg-primary);
  padding: 20px;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  border-bottom: 2px solid white;
  box-shadow: var(--text-shadow);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.skills{
  text-align: center;
  /* background-color: red; */
}

.skills h3 {
  font-size: 30px;
  text-shadow: 0 0 .3vw #fff;
  font-weight: 400;
}

.skills article {
  /* background-color: red; */
  width: 60%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}

.skills-item {
  position: relative;
}

.skills-item img {
  width: 4rem;
}

.skills-item .express {
  background-color: #fff;
  padding: 8px;
}

.skills-item div {
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: -15px;
  transition: opacity var(--transition-speed) linear;
}

.skills-item span {
  backdrop-filter: blur(10px);
  background-color: var(--nav-bg-primary);
  padding: 0.2rem 1rem;
  white-space: nowrap;
}

.skills-item div::after{
  content: "";
  border: 10px solid;
  border-color:var(--nav-bg-primary) #0000 #0000 #0000;
  bottom: -19px;
  position: absolute;
}

.skills-item:hover div {
  opacity: 1;
}